#banner{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(116, 64, 48, 0.801);
    height: 50px;
    text-align: center;
}

#header{

font-family:Verdana, Geneva, Tahoma, sans-serif;   
color: rgb(19, 239, 255);

}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(238, 194, 73);
}


h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center; 
    color: greenyellow;
}


h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   
}

h3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: darkgreen;
}

#copyright{

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: dodgerblue; 
}

.bodyText{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: darkcyan;

}

#AboutMe{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:darkcyan; 

}

.myself{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: darkcyan;

}

a{
    text-decoration:none ;
    color: darkcyan;
}

a:visited {
    color: darkcyan;
}
