#banner{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(116, 64, 48, 0.801);
    height: 50px;
    text-align: center;
    text-shadow: 2px 2px 4px black; 
}

#header{

font-family:Verdana, Geneva, Tahoma, sans-serif;   
color: rgb(82, 191, 199);
text-shadow: 2px 2px 4px white; 
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(238, 194, 73);
}


h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center; 
    color: greenyellow;
}


h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   
}

h3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(25, 151, 25);
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgb(253, 253, 253);
}

#copyright{

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: dodgerblue; 
}

.bodyText{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: darkcyan;

}



a{
    text-decoration:none ;
    color: darkcyan;
}

a:visited {
    color: darkcyan;
}
